h2 {
  text-align: center;
  margin-top: 10vh;
}



form {
  width: 80vw;
  margin: auto;

  textarea {
    min-height: 30vh;

  }

  input,
  textarea {
    margin-bottom: 5vh;
  }

  label {
    margin: 2vh 0px;
  }

  .btn {
    margin-left: 65vw;
    padding: 10px 20px;
  }
}
